src/main/resources/xsd/WSRichSoftDelete.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="qualified">

  <!--  -->
  <xs:complexType  name="VersatoreType">
    <xs:sequence>
      <xs:element name="Ambiente" type="StringNVMax100Type" minOccurs="1" maxOccurs="1"/>
      <xs:element name="Ente" type="StringNVMax100Type" minOccurs="1" maxOccurs="1"/>
      <xs:element name="Struttura" type="StringNVMax100Type" minOccurs="1" maxOccurs="1"/>
      <xs:element name="UserID" type="StringNVMax100Type" minOccurs="1" maxOccurs="1"/>
      <xs:element name="Utente" type="StringNVMax100Type" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>


  <!--  -->
  <xs:complexType name="RichiestaType">
    <xs:sequence>
      <xs:element name="Descrizione" type="StringNVMax254Type" minOccurs="1" maxOccurs="1"/>
      <xs:element name="Motivazione" type="StringNVMax2000Type" minOccurs="1" maxOccurs="1"/>
      <xs:element name="TipoCancellazione" minOccurs="0" maxOccurs="1" type="TipoCancellazioneType" default="CAMPIONE"/>
    </xs:sequence>
  </xs:complexType>

  <!--  -->
  <xs:group name="SharedElements">
    <xs:sequence>
      <xs:element name="TipoRichiesta" minOccurs="1" maxOccurs="1" type="TipoRichiestaType" default="UNITA' DOCUMENTARIA"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="UnitaDocElements">
    <xs:sequence>
      <xs:element name="TipoRegistro" type="StringNVMax100Type" minOccurs="1" maxOccurs="1"/>
      <xs:element name="Numero" type="StringNVMax100Type" minOccurs="1" maxOccurs="1"/>
      <xs:element name="Anno" type="IntMax4DgtType" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:group>  
  <xs:group name="RichiestaSacerElements">
    <xs:sequence>
        <xs:element name="IDRichiestaSacer" type="xs:nonNegativeInteger" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:group>

  <!--  -->
  <xs:complexType name="RichiestaDiCancellazioneType">     
    <xs:sequence>
      <xs:group ref="SharedElements"/>
      <xs:choice>
          <xs:group ref="UnitaDocElements"/>
          <xs:group ref="RichiestaSacerElements"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>

                                  <!-- TIPI DATO GENERICI -->

  <!--  -->
  <xs:simpleType name="StringNVMax100Type">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="100"/>
    </xs:restriction>
  </xs:simpleType>

  <!--  -->
  <xs:simpleType name="StringNVMax200Type">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="200"/>
    </xs:restriction>
  </xs:simpleType>

  <!--  -->
  <xs:simpleType name="StringNVMax254Type">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="254"/>
    </xs:restriction>
  </xs:simpleType>

  <!--  -->
  <xs:simpleType name="StringNVMax2000Type">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="1024"/>
    </xs:restriction>
  </xs:simpleType>

  <!--  -->
  <xs:simpleType name="IntMax4DgtType">
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="9999"/>
    </xs:restriction>
  </xs:simpleType>
  
  <!--  -->
  <xs:simpleType name="TipoRichiestaType">
    <xs:restriction base="xs:string">
        <xs:enumeration value="UNITA' DOCUMENTARIA"/>
        <xs:enumeration value="ANNULLAMENTO VERSAMENTO"/>
        <xs:enumeration value="RESTITUZIONE ARCHIVIO"/>
        <xs:enumeration value="SCARTO ARCHIVISTICO"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="TipoCancellazioneType">
    <xs:restriction base="xs:string">
        <xs:enumeration value="COMPLETA"/>
        <xs:enumeration value="CAMPIONE"/>
    </xs:restriction>
  </xs:simpleType>
  
  
                                  <!-- ELEMENTI -->
  <!--  -->
  <xs:element name="RichiestaCancellazioneLogica">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="VersioneXmlRichiesta" type="StringNVMax100Type" minOccurs="1" maxOccurs="1"/>
        <xs:element name="Versatore" type="VersatoreType" minOccurs="1" maxOccurs="1"/>
        <xs:element name="Richiesta" type="RichiestaType" minOccurs="1" maxOccurs="1"/>
        <xs:element name="RichiesteDiCancellazione" minOccurs="1" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="RichiestaDiCancellazione" type="RichiestaDiCancellazioneType" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>